<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between align-items-center">
          Docente: {{ docente }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h5>
        <h5 class="card-title d-flex justify-content-between align-items-center">
          cantidad de Estudiantes: {{ cantestu }} <i class="far fa-calendar-alt" data-toggle="modal" data-target="#exampleModal"></i></a>
        </h5>
        
        
        <p>Materia: {{ materia }} </p>
        <p>Carrera: {{ carrera }} </p>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.name}}</h1>
      <p clsss="lead">No tienes ninguna Reserva por los momentos.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Crear Reserva</a>
    </div>
  </div>
  {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calendario Disponible</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe src="https://calendar.google.com/calendar/embed?src=unlamlabsim%40gmail.com&ctz=America%2FArgentina%2FBuenos_Aires" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>